


.heading{
    color: rgba(0, 0, 0, 0.733);
    font: 300 2rem "Roboto";
    text-align: center;
}
.competitionInput{
    border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
}
.box{
    padding: 2rem;
}

.icons{
    padding-right: 2vw;
    padding-bottom: 20px;
}

.icon{
    /* padding-right: 2vw; */
}

.box input, textarea{
    
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 15px;
}

#eventMedia {
    height: 5%;
}

.addButton{
    margin-left: 70%;
    margin-right: 5%;
}

#footer{
    padding: 15px;
}